/* ===========================
   Page setup
   =========================== */

@page {
  size: letter;
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  margin-left: 0.75in;
  margin-right: 0.75in;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  color: #000;
}

/* ===========================
   Print resets
   =========================== */

a {
  color: #000;
  text-decoration: none;
}

.btn,
svg,
i {
  display: none !important;
}

/* ===========================
   Headings (print fixed sizes)
   =========================== */

h1 {
  font-size: 20px;
  margin-bottom: 6px;
}

h2 {
  font-size: 16px;
  margin-bottom: 6px;
}

h3 {
  font-size: 14px;
  margin-top: 10px;
}

/* ===========================
   Contact (print)
   =========================== */

.contact .info .name {
    font-size: 18px;
    font-weight: 600;
    color: #0563bb;
    margin-bottom: 4px;
}

.contact .info .title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
}

.contact .info .url
{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 4px;
}

.contact .info .email,
.contact .info .phone {
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-bottom: 4px;
    display: block; /* make sure hidden elements are shown */
}

.contact .info .url a {
    color: #0563bb;
    text-decoration: underline;
}

/* ===========================
   Section resume section 
   =========================== */

.resume h3 {
  font-size: 16px;
  font-weight: bold;
}

.resume .highlight {
  font-weight: bold;
  color: #2b333a; /* light gray */
}

.resume .resume-position {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.resume .resume-date-worked {
  text-align: right;
  white-space: nowrap;
  text-align: right;
}

.resume .resume-company {
  font-size:14px;
  white-space: nowrap;
}

.resume .resume-company a {
  color: #0563bb;
  font-weight: bold;
}

.resume .resume-company-description {
  font-size: 14px;
  font-style: italic;
}


/* ===========================
   Tables & page breaks
   =========================== */

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
td {
  page-break-inside: auto;
}

section,
.resume-item {
  page-break-inside: auto;
}

/* ===========================
   Footer (print)
   =========================== */

.download {
  display:none;
}

.last-updated {
  display:none;
}
