/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin-top: 0in;
  margin-bottom: 0in;
  margin-left: 0in;
  margin-right: 0in;
  font-family: "Verdana", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Verdana", sans-serif;
}

.highlight {
  font-weight: bold;
  display:inline;
  font-size: 14px;
}

.contact .info .email, .contact .info .phone {
  display: none;
}
/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/
@page {
  size: letter;
  margin: 0
}
@media print {
  @page {
    size: 8.5in 11in;
    margin-top: .75in;
    margin-bottom: .75in;
    margin-left: .75in;
    margin-right: .75in;
  }
  .download {
    display:none;
  }
  .contact .info .email, .contact .info .phone {
    display: block;
  }
  #core-skills {
    page-break-inside:avoid; 
    page-break-after:auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.section-title {
  text-align: center;
  padding-bottom: 10px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  color: #45505b;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #45505b;
}
.resume .resume-title table {
  border-collapse: collapse;
  width: 100% ;
  padding: 0%;
  border-spacing: 0in;
  border: 0px;
  page-break-inside:auto; 
  page-break-after:avoid;
}

.resume .resume-item {
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-left: 5px;
  /* border-left: 2px solid #0563bb; */
  position: relative;
}

.resume h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #45505b;
}

.resume .resume-item h4 {
  line-height: 14px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Verdana", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 14px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 15px;
}
.resume .resume-item ul li {
  padding-bottom: 2px;
  padding-left: 0px;
  font-size: 14px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

/* .resume .resume-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  left: -7px;
  background: #fff;
  border: 2px solid #0563bb;
} */
.resume .resume-item table {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  border-collapse: collapse;
  width: 100% ;
  padding: 0%;
  border-spacing: 0in;
  border: 0px;
  font-weight: 400;
  page-break-inside:avoid; 
  page-break-after:auto;
}
.resume .resume-item tr {
  page-break-inside:avoid;
  page-break-after:auto;
}
.resume .resume-position {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: text-top;
  margin-bottom: 0px;
  margin-top: 0px;
}
.resume .resume-company {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #0563bb;
  margin-bottom: 0px;
  margin-top: 5px;
}
.resume .resume-company-description {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 0px;
}
.resume .resume-date-worked {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  vertical-align: text-top;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
  white-space: nowrap;
}

.resume .resume-reference {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
}
.resume .resume-education {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
}

.resume .resume-core-skills {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  vertical-align: top;
  background: #fff;
}
.contact .info table {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  border-collapse: collapse;
  width: 100% ;
  padding: 0%;
  border-spacing: 0in;
  border: 0px;
}

.contact .name {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  vertical-align: top;
  line-height: 16px;
  color: #0563bb;
  margin-bottom: 0px;
}
.contact .title {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  margin-bottom: 0px;
}
.contact .summary {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h2 {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  vertical-align: baseline;
  color: #0563bb;
  margin: 0;
}

.contact .info h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #45505b;
}

.contact .info h4 {
  padding: 0 0 0 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  color: #45505b;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}
.contact .info .email, .contact .info .phone, .contact .info .url, .contact .info .address {
  text-align: right;
  font-size: 14px;
}
.contact .info .email:hover i, .contact .info .address:hover i {
  background: #0563bb;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #0678e3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer .download {
  font-size: 8px;
  text-align: right;
}
.footer .copyright {
  margin: 0 0 5px 0;
}
.footer .credits {
  font-size: 13px;
}